@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
.card-header{
  background-color: #fff;
}
.col{
  color: black;
}
.main .card-body{
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  transition: all 0.195s ease;
  transform-style: preserve-3d;
}

.main .sideb,
.main .right-wrapper {
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main .header {
  padding: 1px 0 2px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main .header i {
  padding: 0 5px;
  cursor: pointer;
}
.main .header span {
  display: inline-block;
  margin: 0 3px;
  font-weight: 700;
}
.main .right-wrapper {
  background-color: #4b4276;
  color: white;
  transform-origin: left center;
  transform: rotateY(110deg);
  transition: all 0.5s;
}
.main .right-wrapper.is-active {
  transform: rotateY(0deg);
}
.main .right-wrapper .header {
  text-align: left;
  justify-content: center;
}
.main .right-wrapper .day {
  font-size: 12em;
  text-indent: -12px;
  display: block;
}
.main .right-wrapper .month {
  font-size: 2.5em;
}
.
.main .sideb table {
  text-align: center;

  width: 90%;
  margin: 30px auto 0;
  table-layout: fixed;
  border-collapse: collapse;
}
.main .sideb table tbody:before {
  content: "-";
  display: block;
  line-height: 0.75em;
  color: transparent;
}
.main .sideb table th {
    padding: 20px 10px;
    margin-left: 30px;
  color: #7952b3;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main .sideb table td {
  padding: 11px 5px;
  color: #ced0ce;
  font-size: 1em;
  transition: all 0.3s;
  position: relative;
}
.main .sideb table td::before {
  content: "";
  display: none;
  width: 50%;
  height: 2px;
  position: absolute;
  left: 40%;
  top: 100%;
  transform: translate(-50%, -8px);
  background-color: #7952b3;;
}
.main .sideb table td.currentDay::before {
  display: block;
}
.main .sideb table td.selectable {
  color: #303633;
  
}
.main .sideb table td.selectable:hover {
  background: #7952b3;
  color: white;
}
.main .sideb table td.between {
  background-color: #333;
  color: white;
}
.main .sideb table td.active, .main .sideb table td.hover {
  background: #7952b3;
  color: white;
}
 .color{
  background: #7952b3;
 }
 .form-rounded {
  border-radius: 1rem;
  }
  
  .arrow {
   
    text-decoration:none;
    border-radius: 50%;
    display: block;
   
}
.arrow::after {
    content:"\2193";
    display: block;
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}